.label {
     font-size: 0.9375rem;
     text-align: left;
     color: darkcyan;
     margin-bottom: 0.25rem;
}

.form-input {
     width: 100%;
     height: 2.2rem;
     border-radius: 0.3125rem;
     border: 0.0625rem solid gray;
     font-family: "Inter", sans-serif;
     padding: 0.2rem 0.4rem;

     &:focus {
          outline: 0.125rem solid lightseagreen;
     }
}

.require {
     color: red;
     margin-left: 0.1875rem;
}

.validationMessage {
     font-size: 0.8em;
     color: red;
     margin-top: 0.5em;
}
