.form {
     width: 100%;
     min-width: 17.5rem;
     max-width: 23.75rem;
     background-color: white;
     border-radius: 0.625rem;
     box-shadow: 0.3125rem 0.3125rem 0.9375rem -0.0625rem rgba(0, 0, 0, 0.3);
}

.form-wrapper {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 0.875rem;
     margin: auto;
     padding: 1.5rem;
     & > div {
          width: 100%;
     }
}
