$red: #ee3838;
$blue: #3737f1;

#home-container {
  min-height: 100vh;
  background-color: #89bcff;
  padding: 2.25rem;

  h1 {
    margin-bottom: 3rem;
  }

  h2 {
    text-align: left;
    margin-bottom: 16px;
  }

  details {
    text-align: left;
    margin-bottom: 12px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  li {
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.875rem;
  }

  .project-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.subjective {
      margin-bottom: 3.5rem;
    }
  }

  .list-wrapper {
    // width: min(70vw, 37.5rem);
    width: 70vw;
    max-width: 37.5rem;
  }

  .red {
    position: relative;
    color: $red;
    transition: color 0.3s ease;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0.125rem;
      background-color: $red;
      border-radius: 0.0625rem;
      transition: width 0.3s ease;
    }
    &:hover {
      color: #202020;
      &::after {
        width: 100%;
      }
    }
  }

  .blue {
    position: relative;
    color: $blue;
    transition: color 0.3s ease;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0.125rem;
      background-color: $blue;
      border-radius: 0.0625rem;
      transition: width 0.3s ease;
    }
    &:hover {
      color: #202020;
      &::after {
        width: 100%;
      }
    }
  }
}
